* {
    margin:0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.header, .footer, .intro {
    background-color:#1F2937;
}

.header {
    display:flex;
    color:white;
    justify-content:space-between;
    align-items: center;
    height: 100px;
    padding: 0 100px 0 100px;
    
}

.nav {
    display:flex;
    flex-direction: row;
    align-items:center;
    gap:12px;
}

.logo {
    font-size: 24px;
    color:#F9FAF8;
}

li, a {
    color:#E5E7EB;
    font-size: 18px;
    list-style-type: none;
    text-decoration: none;
}

.intro,
.info-pane,
.quote,
.outro {
    height:400px;
}


.intro {
    display:flex;
    justify-content: space-around;
    align-items:center;
    padding: 0 100px 0 100px;
    gap: 50px;
}

.intro-left {
    display:flex;
    justify-content: left;
    flex-direction: column;
    width:600px;
    gap: 10px;
}
.intro-title {
    font-size:48px;
    font-weight: bolder;
    color:#F9FAF8;
}

.intro-btn {
    background:#3882F6;
    color:white;
    border-radius: 5px;
    border:none;
    padding:5px 35px 5px 35px;
    width:fit-content;
}

.intro-content {
    color:white;

}

.intro-right {
    background-color:gray;
    height:200px;
    width:600px;
    text-align:center;
}

.info-pane {
    display:flex;
    flex-direction: column;
}

.info-header {
    font-size: 36px;
    font-weight:bolder;
    height:150px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.info-main {
    display:flex;
    gap:40px;
    justify-content: center;
}

.info-one,
.info-two,
.info-three,
.info-four {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:150px;
}

.one-image,
.two-image,
.three-image,
.four-image {
    height:150px;
    width:150px;
    border-radius:10px;
    border: 5px solid #3882F6;
    margin-bottom:10px;
}

.one-text,
.two-text,
.three-text,
.four-text {
    text-align:center;
}


.quote {
    height:400px;
    background-color: #E5E7EB;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:0 50px 0 50px;
}

.quote-container {
    display:flex;
    flex-direction: column;

}

.quote-text {
    font-size:36px;
    font-style: italic;
    color:#1F2937;
}

.quote-author {
    font-size:24px;
    text-align:right;
}

.outro {
    display:flex;
    justify-content: center;
    align-items: center;
}

.outro-container {
    height:150px;
    width:800px;
    border-radius: 8px;
    background-color:#3882F6;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-evenly;
}

.outro-left-top,
.outro-left-bottom {
    color:white;
}

.outro-left-top {
    font-size:24px;
    font-weight:bold;
}

.outro-btn {
    border:none;
    color:white;
    background-color: #3882F6;
    border-radius:5px;
    border:1px solid;
    padding:5px 35px 5px 35px;
}

.footer {
    height:100px;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
}
